<nav class="navbar navbar-expand-lg" style="background-color: #3F51B5;">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/"
    >
      <img
        [src]="logoPath"
        mat-card-sm-image
        alt="İzmir ASKF"
        width="30"
        height="24"
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarApplicationPanel"
      aria-controls="navbarApplicationPanel"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarApplicationPanel">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
          >Ana Sayfa</a>
        </li>
        <!-- Institutional İzmir ASKF -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >İzmir ASKF</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/izmiraskf/hakkimizda">Hakkımızda</a></li>
            <li><a class="dropdown-item" routerLink="/izmiraskf/yonetim-kurulu">Yönetim Kurulumuz</a></li>
          </ul>
        </li>
        <!-- Institutional İzmir TFF İl Temsilciliği -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >TFF İl Temsilciliği</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/tffiltemsilciligi/hakkimizda">Hakkımızda</a></li>
            <li><a class="dropdown-item" routerLink="/tffiltemsilciligi/yonetim-kurulu">Yönetim Kurulumuz</a></li>
          </ul>
        </li>
         <!-- News -->
         <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/haberler">Haberler</a>
        </li>
        <!-- Info Center -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Bilgi Bankası</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/takimlar">Takımlar</a></li>
            <li><a class="dropdown-item" routerLink="/sahalar">Sahalar</a></li>
            <li><a class="dropdown-item" routerLink="/disiplin-kurulu-kararlari">Disiplin Kurulu Kararları</a></li>
          </ul>
        </li>
        <!-- Point Board & Fixture -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/puan-tablosu-fikstur">Puan Durumu ve Fikstür</a>
        </li>
        <!-- Documents -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Dokümanlar</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="dokumanlar/amatorligstatuleri">Amatör Lig Statüleri</a></li>
            <li><a class="dropdown-item" routerLink="dokumanlar/talimatlar">Talimatlar</a></li>
            <li><a class="dropdown-item" routerLink="dokumanlar/lisansformlari">Lisans Formları</a></li>
            <li><a class="dropdown-item" routerLink="dokumanlar/belgeler">Belgeler</a></li>
          </ul>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/iletisim">İletişim</a>
        </li>
        <!-- Login -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="admin/kullanici-giris">Sistem Giriş</a>
        </li>
      </ul>
    </div>

    <div class="d-flex socialmedia-band">
      <mat-card-subtitle class="socialmedia-selector" *ngFor="let link of externalLinksList">
        <fa-icon
          [icon]="findIconFaIcon(link.faBrand)"
          matTooltip="{{link.linkName}}"
          class="{{findIconFaClass(link.faBrand)}}"
          (click)="routeToURL(link.url)"
        >
        </fa-icon>
      </mat-card-subtitle>
    </div>

  </div>
</nav>
