<mat-toolbar>
  <img
    [src]="izmirAskfLogoPath"
    mat-card-sm-image
    class="toolbar-image"
    alt="İZMİR ASKF"
    routerLink="/"
  >
  <span class="toolbar-spacer"></span>

  <img
    [src]="tffizmirLogoPath"
    mat-card-sm-image
    class="toolbar-image"
    alt="TFF İZMİR İL TEMSİLCİLİĞİ"
    routerLink="/"
  >
</mat-toolbar>


<nav class="navbar navbar-expand-xl toolbar" id="header-application">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarApplicationPanel"
      aria-controls="navbarApplicationPanel"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon class="navbar-toggler-icon">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarApplicationPanel">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/"
          >Ana Sayfa</button>
        </li>
        <!-- Institutional İzmir ASKF -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >İzmir ASKF</button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/izmiraskf/hakkimizda"
              >Hakkımızda</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/izmiraskf/yonetim-kurulu"
              >Yönetim Kurulumuz</button>
            </li>
          </ul>
        </li>
        <!-- Institutional İzmir TFF İl Temsilciliği -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >TFF İl Temsilciliği</button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/tffiltemsilciligi/hakkimizda"
              >Hakkımızda</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/tffiltemsilciligi/tffiltemsilciligi"
              >TFF İl Temsilciliği</button>
            </li>
          </ul>
        </li>
         <!-- News -->
         <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/haberler"
          >Haberler</button>
        </li>
        <!-- Info Center -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >Bilgi Bankası</button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/takimlar"
              >Takımlar</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/sahalar"
              >Sahalar</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/komite-kararlari/disiplinkurulu"
              >Disiplin Kurulu Kararları</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="/komite-kararlari/iltertipkomitesi"
              >İl Tertip Komitesi Kararları</button>
            </li>
          </ul>
        </li>
        <!-- Weekly Match Program -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/haftalik-bulten"
          >Haftalık Bülten</button>
        </li>
        <!-- Point Board & Fixture -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/puan-tablosu-fikstur"
          >Puan Durumu ve Fikstür</button>
        </li>
        <!-- Documents -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >Dokümanlar</button>

          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="dokumanlar/amatorligstatuleri"
              >Statüler</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="dokumanlar/talimatlar"
              >Talimatlar</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="dokumanlar/lisansformlari"
              >Lisans Formları</button>
            </li>

            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="dokumanlar/belgeler"
              >Belgeler</button>
            </li>
          </ul>
        </li>
        <!-- Contact -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/iletisim"
          >İletişim</button>
        </li>
        <!-- Login -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/admin/kullanici-giris"
          >Sistem Giriş</button>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center" *ngIf="true">
      <div class="fa-brands" *ngFor="let link of externalLinksList">
        <fa-icon
        [icon]="findIconFaIcon(link.faBrand)"
        matTooltip="{{link.linkName}}"
        class="{{findIconFaClass(link.faBrand)}}"
        (click)="routeToURL(link.url)"
      ></fa-icon>
      </div>
    </div>

  </div>
</nav>
