
.dropdown-item {
  justify-content: start;
}

.dropdown-item:hover {
  color: #00378F !important;
}

.dropdown-menu {
  background-color: #00378F;
}

.navbar-nav {
  margin: auto;
}

.navbar-toggler-icon {
  color: whitesmoke;
}

.mat-mdc-button {
  color: whitesmoke !important;
  font-weight: 500;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-image {
  height: 100%;
  width: auto;
}

.fa-brands {
  margin-left: 0.5rem;
  font-size: large;
  color: whitesmoke;
}
