.mat-mdc-card-sm-image {
  height: auto;
  width: 4rem;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.dropdown-item {
  justify-content: start;
}

.dropdown-item:hover {
  color: #00378F !important;
}

.dropdown-menu {
  background-color: #00378f;
}

.navbar-nav {
  margin: auto;
}

.navbar-toggler-icon {
  color: white;
}

.mat-mdc-button {
  color: white !important;
  font-size: smaller;
}

.fa-brands {
  margin: 0 0.1rem;
  font-size: small;
  color: white;
  cursor: pointer;
}


