<nav class="navbar navbar-expand-lg" style="background-color: #3F51B5;" *ngIf="!userIsAuthenticated">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/"
    >
      <img
        [src]=""
        alt="İzmir ASKF"
        width="30"
        height="24"
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarApplicationPanel"
      aria-controls="navbarApplicationPanel"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarApplicationPanel">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
          >Ana Sayfa</a>
        </li>
        <!-- Institutional İzmir ASKF -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >İzmir ASKF</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/izmiraskf/hakkimizda">Hakkımızda</a></li>
            <li><a class="dropdown-item" routerLink="/izmiraskf/yonetim-kurulu">Yönetim Kurulumuz</a></li>
          </ul>
        </li>
        <!-- Institutional İzmir TFF İl Temsilciliği -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >TFF İl Temsilciliği</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/tffiltemsilciligi/hakkimizda">Hakkımızda</a></li>
            <li><a class="dropdown-item" routerLink="/tffiltemsilciligi/yonetim-kurulu">Yönetim Kurulumuz</a></li>
          </ul>
        </li>
         <!-- News -->
         <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/haberler">Haberler</a>
        </li>
        <!-- Info Center -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Bilgi Bankası</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/takimlar">Takımlar</a></li>
            <li><a class="dropdown-item" routerLink="/sahalar">Sahalar</a></li>
            <li><a class="dropdown-item" routerLink="/disiplin-kurulu-kararlari">Disiplin Kurulu Kararları</a></li>
          </ul>
        </li>
        <!-- Point Board & Fixture -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/puan-durumu-fikstur">Puan Durumu ve Fikstür</a>
        </li>
        <!-- Downloads -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/dosyalar">Dosyalar</a>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/iletisim">İletişim</a>
        </li>
        <!-- Login -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="admin/kullanici-giris">Sistem Giriş</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
