<div>
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-12"
      *ngFor="let stadium of stadiumsList"
    >
      <mat-card>
        <mat-card-content
          class="card-stadiums-list"
          (click)="showStadiumDetails(stadium.id)"
        >
          <div class="d-flex align-items-center">
            <img
              mat-card-sm-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt=""
            />
            <div>
              <mat-card-title>{{ stadium.stadiumName }}</mat-card-title>
              <mat-card-subtitle *ngIf="stadium.town">{{
                "İlçe: " + onTownList(stadium.town)
              }}</mat-card-subtitle>
              <mat-card-subtitle *ngIf="stadium.floorType">{{
                "Zemin Türü: " + onFloorTypeList(stadium.floorType)
              }}</mat-card-subtitle>
            </div>
          </div>
        </mat-card-content>
        <mat-action-row>
          <button
            mat-button
            color="primary"
            (click)="showStadiumDetails(stadium.id)"
          >
            Göster
          </button>
        </mat-action-row>
      </mat-card>
    </div>
  </div>
</div>
