<div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Sezonlar</mat-label>
        <mat-select
          matInput
          placeholder="Sezon"
          [(ngModel)]="seasonSelectionId"
          (selectionChange)="onSeasonChange()"
        >
          <mat-option *ngFor="let season of seasonList" [value]="season.id">
            {{ season.seasonName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Ligler</mat-label>
        <mat-select
          matInput
          placeholder="Lig"
          [(ngModel)]="leagueSelectionId"
          (selectionChange)="onLeagueChange()"
        >
          <mat-option *ngFor="let league of leagueList" [value]="league.id">
            {{ league.leagueName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Gruplar</mat-label>
        <mat-select
          matInput
          placeholder="Grup"
          [(ngModel)]="groupstageSelectionId"
          (selectionChange)="onGroupStageChange()"
        >
          <mat-option *ngFor="let group of groupstageList" [value]="group.id">
            {{ group.groupName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Hafta</mat-label>
        <mat-select
          matInput
          placeholder="Hafta"
          [(ngModel)]="matchWeekSelectionValue"
        >
          <mat-option
            *ngFor="let week of weekSequenceList"
            [value]="week.weekSequence"
          >
            {{ week.weekSequence + ". Hafta" }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12">
      <button
        mat-raised-button
        type="button"
        class="btn-search"
        color="primary"
        (click)="onSearch()"
      >
        <mat-icon>search</mat-icon>
        Arama
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="container-point-board">
        <mat-card>
          <mat-card-header>
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle
                  ><b>O:</b> Oynanan Maç Sayısı</mat-card-subtitle
                >
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle
                  ><b>G:</b> Galibiyet Sayısı</mat-card-subtitle
                >
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle
                  ><b>B:</b> Beraberlik Sayısı</mat-card-subtitle
                >
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle
                  ><b>M:</b> Mağlubiyet Sayısı</mat-card-subtitle
                >
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle
                  ><b>AG:</b> Attığı Gol Sayısı</mat-card-subtitle
                >
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle
                  ><b>YG:</b> Yediği Gol Sayısı</mat-card-subtitle
                >
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle><b>Av:</b> Averaj</mat-card-subtitle>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <mat-card-subtitle><b>P:</b> Puan</mat-card-subtitle>
              </div>
            </div>
          </mat-card-header>

          <mat-card-content>
            <table
              mat-table
              [dataSource]="pointBoardList"
              class="mat-elevation-z8"
              *ngIf="!isLoading"
            >
              <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef="">Sıralama</th>
                <td mat-cell *matCellDef="let team; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef="">Takım</th>
                <td mat-cell *matCellDef="let team">
                  {{ team.teamShortName || team.teamOfficialName }}
                  <!--
                  <fa-icon
                      *ngIf="findExpelledOrRecededTeam(team.teamId)"
                      [icon]="fontAwesomeIconList.faCircleInfo"
                      class="icon icon-circle-info"
                      matTooltip="{{findExpelledOrRecededExplanation(team.teamId)}}">
                  </fa-icon>
                  -->
                </td>
              </ng-container>

              <ng-container matColumnDef="played">
                <th mat-header-cell *matHeaderCellDef="">O</th>
                <td mat-cell *matCellDef="let team">{{ team.matchPlayed }}</td>
              </ng-container>

              <ng-container matColumnDef="win">
                <th mat-header-cell *matHeaderCellDef="">G</th>
                <td mat-cell *matCellDef="let team">{{ team.matchWin }}</td>
              </ng-container>

              <ng-container matColumnDef="draw">
                <th mat-header-cell *matHeaderCellDef="">B</th>
                <td mat-cell *matCellDef="let team">{{ team.matchDraw }}</td>
              </ng-container>

              <ng-container matColumnDef="lose">
                <th mat-header-cell *matHeaderCellDef="">M</th>
                <td mat-cell *matCellDef="let team">{{ team.matchLose }}</td>
              </ng-container>

              <ng-container matColumnDef="goalScored">
                <th mat-header-cell *matHeaderCellDef="">AG</th>
                <td mat-cell *matCellDef="let team">{{ team.goalScored }}</td>
              </ng-container>

              <ng-container matColumnDef="goalConceded">
                <th mat-header-cell *matHeaderCellDef="">YG</th>
                <td mat-cell *matCellDef="let team">{{ team.goalConceded }}</td>
              </ng-container>

              <ng-container matColumnDef="goalAverage">
                <th mat-header-cell *matHeaderCellDef="">Av</th>
                <td mat-cell *matCellDef="let team">{{ team.goalAverage }}</td>
              </ng-container>

              <ng-container matColumnDef="totalPoints">
                <th mat-header-cell *matHeaderCellDef="">P</th>
                <td mat-cell *matCellDef="let team" class="font-pointtotal">
                  {{ team.pointTotal }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="tableColumnsPointBoard"
                class="table-header-row"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: tableColumnsPointBoard"
                class="table-detail-row"
              ></tr>
            </table>
          </mat-card-content>

          <mat-card-content>
            <mat-card-subtitle
              *ngFor="let teamsindisqualification of teamsingroupstageList"
            >
              <fa-icon
                *ngIf="findExpelledOrReceded(teamsindisqualification.teamId)"
                [icon]="fontAwesomeIconList.faCircleInfo"
              ></fa-icon>
              {{
                findExpelledOrRecededExplanation(teamsindisqualification.teamId)
              }}
            </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="container-fixture table-fixture-list">
        <mat-toolbar class="toolbar toolbar-title toolbar-fixture-list-weekly">
          <mat-card-title>{{'HAFTANIN KARŞILAŞMALARI'}}</mat-card-title>
        </mat-toolbar>

        <table
          mat-table
          [dataSource]="fixtureList"
          class="mat-elevation-z8"
        >
        <ng-container matColumnDef="matchNo">
          <th mat-header-cell *matHeaderCellDef="">Müsabaka No.</th>
          <td mat-cell *matCellDef="let matchDay">
            <mat-card-subtitle>
              {{ matchDay.matchNo ? matchDay.matchNo : "-" }}
            </mat-card-subtitle>
          </td>
        </ng-container>

        <ng-container matColumnDef="homeTeam">
          <th mat-header-cell *matHeaderCellDef="">Ev Sahibi Takım</th>
          <td mat-cell *matCellDef="let matchDay">
            <mat-card-title class="font-title-teamname">
              <fa-icon
                *ngIf="findExpelledOrReceded(matchDay.homeTeamId)"
                [icon]="fontAwesomeIconList.faCircleInfo"
                class="icon icon-circle-info"
                matTooltip="{{
                  findExpelledOrRecededExplanation(matchDay.homeTeamId)
                }}"
              >
              </fa-icon>
              {{ (matchDay.homeTeamShortName || matchDay.homeTeamOfficialName) || "BAY" }}
              <fa-icon
                *ngIf="matchDay.isHomeTeamWinByForfeit"
                [icon]="fontAwesomeIconList.faCircleH"
                class="icon icon-circle-h"
                matTooltip="Hükmen Galip"
              >
              </fa-icon>
            </mat-card-title>
          </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef="">Detaylar</th>
          <td mat-cell *matCellDef="let matchDay">
            <div>
              <!--
              <mat-card-subtitle class="subtitle-matchday-detail">
                {{
                  findSeasonName(seasonSelectionId) +
                    " " +
                    findLeagueName(leagueSelectionId) +
                    " " +
                    findGroupstageName(groupstageSelectionId)
                }}
              </mat-card-subtitle>
              -->
              <mat-card-subtitle class="subtitle-matchday-detail">
                <strong>{{
                  matchDay.stadiumName || "Belirtilmemiş"
                }}</strong>
              </mat-card-subtitle>
              <mat-card-subtitle class="subtitle-matchday-detail">
                <strong>{{
                  getLocalDateForLongDate(matchDay.matchDate) +
                  " " +
                  getLocalDateForShortTime(matchDay.matchDate)
                }}</strong>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon
                  class="{{ findMatchStatusClass(matchDay.matchStatus) }}"
                  matTooltip="{{ findMatchStatus(matchDay.matchStatus) }}"
                  >circle</mat-icon
                >
              </mat-card-subtitle>
            </div>
            <div>
              <mat-card-subtitle class="subtitle-matchday-detail">
                <b class="font-match-score">{{
                  matchDay.homeTeamScore !== null
                    ? matchDay.homeTeamScore
                    : "-"
                }}</b>

                <b class="font-match-score">{{' - '}}</b>

                <b class="font-match-score">{{
                  matchDay.awayTeamScore !== null
                    ? matchDay.awayTeamScore
                    : "-"
                }}</b>
              </mat-card-subtitle>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="awayTeam">
          <th mat-header-cell *matHeaderCellDef="">Misafir Takım</th>
          <td mat-cell *matCellDef="let matchDay">
            <mat-card-title class="font-title-teamname">
              <fa-icon
                *ngIf="matchDay.isAwayTeamWinByForfeit"
                [icon]="fontAwesomeIconList.faCircleH"
                class="icon icon-circle-h"
                matTooltip="Hükmen Galip"
              >
              </fa-icon>
              {{ (matchDay.awayTeamShortName || matchDay.awayTeamOfficialName) || "BAY" }}
              <fa-icon
                *ngIf="findExpelledOrReceded(matchDay.awayTeamId)"
                [icon]="fontAwesomeIconList.faCircleInfo"
                class="icon icon-circle-info"
                matTooltip="{{
                  findExpelledOrRecededExplanation(matchDay.awayTeamId)
                }}"
              >
              </fa-icon>
            </mat-card-title>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="tableColumnsFixture"
          class="table-header-row"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: tableColumnsFixture"
          class="table-detail-row"
        ></tr>
        </table>
      </div>
    </div>
  </div>
</div>
