.div-point-board {
  margin-top: 2rem;
}

.toolbar {
  margin-bottom: 1rem;
}

.font-pointtotal {
  font-weight:bold;
}

.mat-mdc-card-content {
  box-shadow: none;
  padding: 0;
}

.mdc-data-table__cell {
  text-align: start;
}
