.mdc-data-table__header-cell,
.mdc-data-table__cell {
  font-size: small;
}

.form-input {
  width: 100%;
}

.btn-disciplinary-board-decisions-actions {
  margin-bottom: 1rem;
  width: 100%;
}

.btn-import-disciplinary-board-decisions {
  background-color: green !important;
  color: white !important;
}

.btn-export-disciplinary-board-decisions {
  background-color: darkorange !important;
  color: white !important;
}

.mat-mdc-card {
  box-shadow: none;
}

.disabled {
  background-color: gray !important;
}
