<div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Sezonlar</mat-label>
        <mat-select
          matInput
          placeholder="Sezon"
          [(ngModel)]="seasonSelectionId"
          (selectionChange)="onSeasonChange()"
        >
          <mat-option *ngFor="let season of seasonsList" [value]="season.id">
            {{ season.seasonName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Dosyalar</mat-label>
        <mat-select
          matInput
          placeholder="Dosya"
          [(ngModel)]="disciplinaryBoardFileSelectionId"
          (selectionChange)="onFileNoChange()"
        >
          <mat-option
            *ngFor="let file of disciplinaryBoardFilesList"
            [value]="file.id"
          >
            {{ file.caseNo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-card class="card create-card">
    <button
      class="create-button"
      mat-fab
      color="primary"
      matTooltip="Oluştur"
      (click)="onCreate()"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card>

  <mat-card>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <button
          class="btn-disciplinary-board-decisions-actions btn-clear-disciplinary-board-decisions"
          mat-raised-button
          color="warn"
          matTooltip="Temizle"
          (click)="onClear()"
        >
          Temizle
        </button>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <button
          [disabled]="disciplinaryBoardDecisionsList.length <= 0"
          class="btn-disciplinary-board-decisions-actions btn-export-disciplinary-board-decisions {{disciplinaryBoardDecisionsList.length <= 0 ? 'disabled' : null}}"
          mat-raised-button
          matTooltip="Dışa Aktar"
          (click)="onExport()"
        >
          Dışa Aktar
        </button>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <button
          class="btn-disciplinary-board-decisions-actions btn-import-disciplinary-board-decisions"
          mat-raised-button
          matTooltip="İçe Aktar"
          (click)="filePicker.click()"
        >
          İçe Aktar
        </button>
        <input type="file" name="file" #filePicker (change)="onFilePicked($event)" />
      </div>

    </div>
  </mat-card>

  <mat-card>
    <table
      mat-table
      [dataSource]="disciplinaryBoardDecisionsList"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="leagueName">
        <th mat-header-cell *matHeaderCellDef="">Lig</th>
        <td mat-cell *matCellDef="let decision">
          {{ findLeagueName(decision.leagueId) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="teamName">
        <th mat-header-cell *matHeaderCellDef="">Takım</th>
        <td mat-cell *matCellDef="let decision">
          {{ findTeamName(decision.teamId) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="licenseNo">
        <th mat-header-cell *matHeaderCellDef="">Lisans No.</th>
        <td mat-cell *matCellDef="let decision">{{ decision.licenseNo }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef="">Ad-Soyad</th>
        <td mat-cell *matCellDef="let decision">{{ decision.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="belongingTo">
        <th mat-header-cell *matHeaderCellDef="">Görev</th>
        <td mat-cell *matCellDef="let decision">
          {{ findBelongingTo(decision.belongingTo) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="penalType">
        <th mat-header-cell *matHeaderCellDef="">Ceza</th>
        <td mat-cell *matCellDef="let decision">
          {{ findPenalType(decision.penalType) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef="">Süre</th>
        <td mat-cell *matCellDef="let decision">{{ decision.duration }}</td>
      </ng-container>

      <ng-container matColumnDef="explanation">
        <th mat-header-cell *matHeaderCellDef="">Açıklama</th>
        <td mat-cell *matCellDef="let decision">
          <mat-icon
            *ngIf="decision.explanation"
            matTooltip="{{ decision.explanation }}"
            >info</mat-icon
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef=""></th>
        <td mat-cell *matCellDef="let decision">
          <button mat-button color="primary" (click)="onEdit(decision)">
            Düzenle
          </button>
          <button mat-button color="warn" (click)="onDelete(decision.id)">
            Sil
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="tableColumns"
        class="table-header-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: tableColumns"
        class="table-detail-row"
      ></tr>
    </table>
    <mat-card-content>
      <mat-card-subtitle
        >Toplam Kayıt Sayısı:
        {{ disciplinaryBoardDecisionsList.length }}</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</div>
