<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-card class="card card-abouttext">
    <mat-card-header>
      <img
        mat-card-xl-image
        [src]="aboutcontent.imagePath"
        [alt]="'İZMİR TFF İL TEMSİLCİLİĞİ'"
      />
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Hakkımızda</mat-label>
            <textarea
              matInput
              readonly="true"
              id="input-abouttext"
              [value]="aboutcontent.aboutText"
              [rows]="autoAdjustRows()"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <mat-form-field>
            <mat-label>Telefon</mat-label>
            <fa-icon
              matTextPrefix=""
              class="icon"
              [icon]="getFontAwesomeIcon('faPhone')"
            ></fa-icon>
            <input
              matInput
              type="text"
              readonly="true"
              [value]="aboutcontent.phoneNumber"
            />
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <mat-form-field>
            <mat-label>Fax</mat-label>
            <fa-icon
              matTextPrefix=""
              class="icon"
              [icon]="getFontAwesomeIcon('faFax')"
            ></fa-icon>
            <input
              matInput
              type="text"
              readonly="true"
              [value]="aboutcontent.faxNumber"
            />
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <mat-form-field>
            <mat-label>E-Posta</mat-label>
            <fa-icon
              matTextPrefix=""
              class="icon"
              [icon]="getFontAwesomeIcon('faEnvelope')"
            ></fa-icon>
            <input
              matInput
              type="text"
              readonly="true"
              [value]="aboutcontent.email"
            />
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-label>Adres</mat-label>
            <fa-icon
              matTextPrefix=""
              class="icon"
              [icon]="getFontAwesomeIcon('faLocationDot')"
            ></fa-icon>
            <textarea
              matInput
              type="text"
              readonly="true"
              [value]="aboutcontent.address"
              rows="1"
            ></textarea>
          </mat-form-field>
        </div>

        <div>
          <iframe
              *ngIf="mapSafeSrc"
              [src]="mapSafeSrc"
              width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
          </iframe>

          <app-application-no-content-map *ngIf="!mapSafeSrc"></app-application-no-content-map>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
