<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div class="row" *ngIf="staffizmirtffList.length > 0">
    <div
      class="{{i == 0 ? 'col-lg-12 col-md-12' : 'col-lg-6 col-md-6'}} col-sm-12"
      *ngFor="let staffizmirtff of staffizmirtffList; let i = index"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <img *ngIf="staffizmirtff.imagePath" mat-card-md-image class="img-staff" [src]="staffizmirtff.imagePath" [alt]="staffizmirtff.title">
            <img *ngIf="!staffizmirtff.imagePath" mat-card-avatar [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'" [alt]="staffizmirtff.title">
            <mat-card-title>{{ staffizmirtff.fullName}}</mat-card-title>
            <mat-card-subtitle>{{ staffizmirtff.title }}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="staffizmirtff.phone">
              <fa-icon
                matTextPrefix=""
                class="icon"
                [icon]="getFontAwesomeIcon('faPhone')"
              ></fa-icon>
              {{ staffizmirtff.phone }}
            </mat-card-subtitle>

            <mat-card-subtitle *ngIf="staffizmirtff.email">
              <fa-icon
                matTextPrefix=""
                class="icon"
                [icon]="getFontAwesomeIcon('faEnvelope')"
              ></fa-icon>
              {{ staffizmirtff.email }}
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <app-application-no-content-info *ngIf="staffizmirtffList.length <= 0"></app-application-no-content-info>
</div>
