<div>
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-12"
      *ngFor="let staffizmirtff of staffizmirtffList"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-avatar [src]="staffizmirtff.imagePath || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'" [alt]="staffizmirtff.title">
            <mat-card-title>{{ staffizmirtff.fullName }}</mat-card-title>
            <mat-card-subtitle>{{ staffizmirtff.title }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>

        <mat-card-content class="container">
          <mat-card-subtitle><p></p></mat-card-subtitle>
          <mat-card-subtitle *ngIf="staffizmirtff.phone">
            <fa-icon
              matTextPrefix=""
              class="icon"
              [icon]="fontAwesomeIconList.faPhone"
            ></fa-icon>
            {{ staffizmirtff.phone }}
          </mat-card-subtitle>

          <mat-card-subtitle *ngIf="staffizmirtff.email">
            <fa-icon
              matTextPrefix=""
              class="icon"
              [icon]="fontAwesomeIconList.faEnvelope"
            ></fa-icon>
            {{ staffizmirtff.email }}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
