.mat-mdc-card {
  box-shadow: none;
}

.card-externallink{
  padding: 0.5rem 0;
}

.card-externallink:hover {
  transition: 200ms ease-in;
  background-color: white;
}

a {
  text-decoration: none;
}

.image-icon-external-links {
  width: 15%;
  height: auto;
}
