<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="div-news-list" *ngIf="!isLoading">
  <mat-toolbar class="toolbar toolbar-title">
    <mat-card-title>{{ toolbarTitle }}</mat-card-title>
  </mat-toolbar>
  <br />
  <mat-accordion *ngIf="newsList.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let news of newsList">
      <mat-expansion-panel-header>
        <fa-icon
          [icon]="getFontAwesomeIcon('faCircle')"
          class="icon icon-circle"
          [ngStyle]="{ color: news.isVisible ? 'green' : 'red' }"
          matTooltip="{{ news.isVisible ? 'Yayında' : 'Yayında Değil' }}"
        >
        </fa-icon>
        {{ news.title }}
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-subtitle><b>Haber No:</b> {{ news.id }}</mat-card-subtitle>
          <mat-card-subtitle
            ><b>Yayında:</b>
            {{ news.isVisible ? "Evet" : "Hayır" }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><b>Yayın Tarihi:</b>
            {{ news.createdAt | date : "dd.MM.yyyy HH:mm" }}</mat-card-subtitle
          >
          <mat-card-subtitle
            ><b>Yayınlayan:</b> {{ news.createdByUsername }}</mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="news.updatedAt"
            ><b>Düzenleme Tarihi:</b>
            {{ news.updatedAt | date : "dd.MM.yyyy HH:mm" }}</mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="news.updatedBy"
            ><b>Düzenleyen:</b> {{ news.updatedByUsername }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="image-preview">
          <p></p>
          <p [innerHTML]="news.content"></p>
          <img
            *ngIf="news.imagePath"
            mat-card-xl-image
            [src]="news.imagePath"
            [alt]="news.title"
          />
        </mat-card-content>

        <mat-action-row>
          <button
            mat-button
            type="button"
            color="primary"
            (click)="openEditDialog(news)"
          >
            Düzenle
          </button>

          <button
            mat-button
            type="button"
            color="warn"
            (click)="onDelete(news.id)"
          >
            Sil
          </button>
        </mat-action-row>
      </mat-card>
    </mat-expansion-panel>
    <mat-paginator
      [length]="newsCount"
      [pageSize]="paginationPageSize"
      [pageSizeOptions]="paginationPageSizeOptions"
      (page)="onChangePaginationPage($event)"
      *ngIf="newsList.length"
    >
      0
    </mat-paginator>
  </mat-accordion>

  <app-application-no-content-info
    *ngIf="newsList.length <= 0"
  ></app-application-no-content-info>
</div>
