<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-dialog-content class="mat-typography">
    <mat-card>
      <mat-dialog-actions align="end">
        <button mat-icon-button mat-dialog-close class="icon">
          <mat-icon>close</mat-icon>
        </button>
      </mat-dialog-actions>

      <form
        [formGroup]="documentSubmitForm"
        (submit)="onSubmitForm()"
        *ngIf="!isLoading"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Dosya Adı</mat-label>
              <input
                matInput
                type="text"
                formControlName="documentName"
                placeholder="Dosya Adı"
              />
              <mat-hint align="end"
                >{{
                  documentSubmitForm.get("documentName").value
                    ? documentSubmitForm.get("documentName").value.length
                    : 0
                }}/200</mat-hint
              >
              <mat-error *ngIf="documentSubmitForm.get('documentName').invalid"
                >Lütfen dosya adı giriniz! (en fazla 200 karakter)</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <button
              mat-stroked-button
              type="button"
              color="primary"
              class="btn-file-picker"
              (click)="filePicker.click()"
            >Dosya Seç</button>
            <button
              mat-stroked-button
              type="button"
              color="warn"
              class="btn-file-picker"
              *ngIf="(documentSubmitForm.value.fileName !== '' && documentSubmitForm.value.filePath) || documentSubmitForm.value.fileAttachment"
              (click)="filePickerRemove()"
            >Kaldır</button>
            <input type="file" #filePicker (change)="onFilePicked($event)" />
            <div
              class="document-preview"
            >
              <mat-card-subtitle *ngIf="documentSubmitForm.value.fileName">
                <fa-icon
                  [icon]="findMimeTypeIcon(documentSubmitForm.value.fileMimeType)"
                  class="icon icon-attachment"
                >
                </fa-icon>
                {{ documentSubmitForm.value.fileAttachment ? documentSubmitForm.value.fileAttachment.name : documentSubmitForm.value.fileName }}

              </mat-card-subtitle>
              <mat-card-subtitle *ngIf="documentSubmitForm.value.fileName">
                {{ documentSubmitForm.value.fileAttachment ? getFileSize(documentSubmitForm.value.fileAttachment.size) : getFileSize(documentSubmitForm.get('fileSize').value) }}
              </mat-card-subtitle>
              <mat-error *ngIf="!documentSubmitForm.get('fileAttachment').valid || !documentSubmitForm.get('fileName').valid">
                Lütfen geçerli bir dosya seçiniz! (en fazla 8MB)
              </mat-error>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Sıra No</mat-label>
              <input
                matInput
                type="number"
                formControlName="orderNo"
                placeholder="(1-999)"
              />
              <mat-error *ngIf="documentSubmitForm.get('orderNo').invalid">
                Lütfen sıralama numarası giriniz! (1-999)
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="documentSubmitForm.get('fileCategory').value == 'AKTARMADOSYALARI'">
            <mat-form-field class="form-input">
              <mat-label>Kategori</mat-label>
              <mat-select
                matInput
                formControlName="fileType"
                placeholder="Dosya Türü"
              >
                <mat-option
                  *ngFor="let fileType of documentTransferFileTypeList"
                  [value]="fileType.name"
                >
                  {{fileType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </div>

        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            *ngIf="data.pageMode == 'create'"
            type="submit"
          >
            Oluştur
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="data.pageMode == 'edit'"
            type="submit"
          >
            Düzenle
          </button>
          <a
            mat-raised-button
            color="warn"
            *ngIf="data.pageMode == 'edit'"
            type="button"
            (click)="onDelete(documentSubmitForm.value.id)"
            >Sil</a
          >
        </mat-action-row>
      </form>
    </mat-card>
  </mat-dialog-content>
</div>
