mat-form-field {
  width: 100%;
}

mat-action-row button {
  margin-right: 1rem;
}

.mat-mdc-card {
  box-shadow: none;
}

.btn-file-picker {
  margin-right: 0.5rem;
}

.icon-attachment {
  font-size: large;
}
