<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div id="carouselNewsSlider" class="carousel slide carousel-dark " data-bs-ride="carousel" data-bs-theme="dark" *ngIf="newsList.length > 0">
    <div class="carousel-indicators">
      <button
        *ngFor="let news of newsList; let index = index"
        type="button"
        data-bs-target="#carouselNewsSlider"
        [attr.data-bs-slide-to]="index"
        [class.active]="index == 0 ? true : false"
      ></button>
    </div>


    <div class="carousel-inner">
      <div *ngFor="let news of newsList; let index = index" class="carousel-item {{(index == 0) ? 'active' : null}}" data-bs-interval="1000">
        <mat-card class="card card-news-list" (click)="showNewsDetails(news.id)">
          <img mat-card-xl-image [src]="news.imagePath" class="d-block w-100" [alt]="news.title">
          <div class="carousel-caption d-md-block">
            <mat-card-title>{{news.title}}</mat-card-title>
          </div>
        </mat-card>
      </div>
    </div>

    <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselNewsSlider" data-bs-slide="prev">
      <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselNewsSlider" data-bs-slide="next">
      <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>
    <app-application-no-content-info *ngIf="newsList.length <= 0"></app-application-no-content-info>
  </div>
</div>
