.mat-mdc-card {
  width: 100%;
}

mat-form-field, textarea {
  width: 100%;
}

.mat-mdc-card {
  box-shadow: none;
}

.btn-image-picker {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.image-preview img {
  height: 100%;
  margin-bottom: 0.5rem;
}



