<div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let team of teamsList">
      <mat-card>
        <mat-card-content
          class="card-teams-list"
          (click)="showTeamsDetails(team.id)"
        >
          <div class="d-flex align-items-center">
            <img
              mat-card-sm-image
              [src]="team.imagePath || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'"
              [alt]="team.shortName || team.officialName"
            />
            <div>
              <mat-card-title>{{ team.officialName }}</mat-card-title>
              <mat-card-subtitle
                >Üye: {{ team.isMember ? "Evet" : "Hayır" }}</mat-card-subtitle
              >
              <mat-card-subtitle>
                <mat-icon
                  class="team-color"
                  [ngStyle]="{ color: team.colorCodes.split(';')[0] }"
                  >circle</mat-icon
                >
                <mat-icon
                  class="team-color"
                  [ngStyle]="{ color: team.colorCodes.split(';')[1] }"
                  >circle</mat-icon
                >
              </mat-card-subtitle>
            </div>
          </div>
        </mat-card-content>
        <mat-action-row>
          <button
            mat-button
            color="primary"
            (click)="showTeamsDetails(team.id)"
          >
            Göster
          </button>
        </mat-action-row>
      </mat-card>
    </div>
    <mat-paginator [length]="teamsCount" [pageSize]="paginationPageSize" [pageSizeOptions]="paginationPageSizeOptions" (page)="onChangePaginationPage($event)" *ngIf="teamsList.length" > 0 </mat-paginator>
  </div>
</div>
