<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <mat-card class="card create-card">
      <button
        class="create-button"
        mat-fab
        color="primary"
        matTooltip="Oluştur"
        (click)="onCreate()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card>
  </div>

  <div class="row" *ngIf="staffizmirtffList.length > 0">
    <div class="{{i == 0 ? 'col-lg-12 col-md-12' : 'col-lg-6 col-md-6'}} col-sm-12" *ngFor="let staffizmirtff of staffizmirtffList; let i = index">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-sm-image class="img-staff" [src]="staffizmirtff.imagePath || 'assets/no-team-logo.png'" [alt]="staffizmirtff.title">
            <mat-card-title>{{ staffizmirtff.fullName}}</mat-card-title>
            <mat-card-subtitle>{{ staffizmirtff.title }}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="staffizmirtff.phone">
              <fa-icon
                matTextPrefix=""
                class="icon"
                [icon]="getFontAwesomeIcon('faPhone')"
              ></fa-icon>
              {{ staffizmirtff.phone }}
            </mat-card-subtitle>

            <mat-card-subtitle *ngIf="staffizmirtff.email">
              <fa-icon
                matTextPrefix=""
                class="icon"
                [icon]="getFontAwesomeIcon('faEnvelope')"
              ></fa-icon>
              {{ staffizmirtff.email }}
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-action-row>
          <button mat-button color="primary" (click)="onEdit(staffizmirtff)">Düzenle</button>
          <button mat-button color="warn" (click)="onDelete(staffizmirtff.id)">Sil</button>
        </mat-action-row>
      </mat-card>
    </div>

  </div>

  <app-application-no-content-info *ngIf="!(staffizmirtffList.length > 0)"></app-application-no-content-info>

</div>
