.search-area {
  margin-top: 1rem;
}

.button-import {
  background-color: green !important;
  color: white !important;
}

.button-export {
  background-color: orange !important;
  color: white !important;
}

.table-fixture-list {
  margin-bottom: 1rem;
}

.icon-danger {
  color: red;
}

.icon-warning {
  color: orange;
}

.icon-match-status {
  font-size: x-small;
  overflow: unset;
}

.match-status-notplayed {
  color: grey;
}

.match-status-played {
  color: green;
}

.match-status-postponed {
  color: orange;
}

.match-status-byforfeit {
  color: red;
}

.icon-circle-h {
  color: red;
}

.icon-warning {
  color: orange;
}

.font-title-teamname {
  font-size: medium;
}

.font-match-score {
  font-size: x-large;
}


.div-fixture-list {
  margin-top: 2rem;
}

.toolbar {
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  margin-bottom: 1rem;
}

.image-teamlogo-fixturecreate {
  margin-bottom: 0;
}
