.button-fixture-clear,
.button-fixture-create,
.button-match-create,
.button-import,
.button-export {
  margin-bottom: 1rem;
}
.button-import {
  background-color: green !important;
  color: white !important;
}

.button-export {
  background-color: orange !important;
  color: white !important;
}

.table-fixture-list {
  margin-bottom: 1rem;
}


.icon-danger {
  color: red;
}

.icon-warning {
  color: orange;
}

.team-status-expelorrecede {
  background-color: tomato;
}

.icon-match-status {
  font-size: x-small;
  overflow: unset;
}

.match-status-notplayed {
  color: grey;
}

.match-status-played {
  color: greenyellow;
}

.match-status-postponed {
  color: orange;
}

.match-status-byforfeit {
  color: red;
}

.icon-circle-h {
  color: red;
}

.font-title-teamname {
  font-size: medium;
}

.font-match-score {
  font-size: x-large;
}


.div-fixture-list {
  margin-top: 2rem;
}

.toolbar {
  margin-bottom: 1rem;
}

.button-fixture-clear, .button-fixture-create, .button-match-create, .button-import, .button-export {
  width: 100%;
}
