
/* Kayan yazıyı içeren div'i stilize edin */
.marquee {
  white-space: nowrap; /* Satırları kırpmadan yazıyı sıkıştırın */
  overflow: hidden; /* Taşan içeriği gizle */
  position: relative; /* Pozisyonu ayarlayın */
  background-color: transparent; /* Arka plan rengini ayarlayın */
  padding: 1rem 0; /* Boşluk ekleyin */
  background-color: whitesmoke;
}

.marquee-title {
  position: absolute;
  white-space: nowrap;
  font-size: medium;
  top: 0;
  padding: 0 0.5rem ;
  z-index: 1;
  color: white;
  background-color: #00378F;
  cursor: pointer;
}

/* Kayan animasyonu */
.marquee .marquee-text {
  position: absolute; /* Pozisyonu ayarlayın */
  top: 0; /* Üstten başlasın */
  left: 100%; /* Başlangıçta ekran dışında olsun */
  white-space: nowrap; /* Satırları kırpmadan yazıyı sıkıştırın */
  animation: marquee 25s linear infinite; /* Kayan animasyonu ayarlayın */
  font-weight: 550;
  font-size: medium;
  color: #00378F;
}

/* Kayan animasyonu tanımı */
@keyframes marquee {
  0% {
      left: 100%; /* Başlangıçta ekran dışında olsun */
  }
  100% {
      left: -200%; /* Sona geldiğinde ekran dışına çıksın */
  }
}
