<div *ngIf="seasonsList.length > 0">
  <mat-form-field class="form-input">
    <mat-label>Sezon</mat-label>
    <mat-select
      matInput
      placeholder="Sezon"
      [(ngModel)]="seasonSelectionId"
      (selectionChange)="onSeasonChange(seasonSelectionId)"
    >
      <mat-option *ngFor="let season of seasonsList" [value]="season.id">
        {{ season.seasonName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <apx-chart
    *ngIf="!isLoading"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [fill]="chartOptions.fill"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
  ></apx-chart>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
