<div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a class="weatherwidget-io" [href]="'https://forecast7.com/tr/38d4227d14/izmir/'" data-label_1="İZMİR" data-label_2="HAVA DURUMU" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="weather_one" >İZMİR HAVA DURUMU</a>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
      <app-application-news-slider></app-application-news-slider>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-card>
            <img mat-card-image [src]="'http://localhost:3000/images/statics/ataturk-banner.jpg'" [alt]="'Mustafa Kemal ATATÜRK'">
          </mat-card>
        </div>

        <div class="col-lg-12 col-md-4 col-sm-12">
          <button
            mat-raised-button
            type="button"
            color="primary"
            class="btn btn-news-router"
            (click)="showNewsList()"
          >
            HABERLER VE DUYURULAR
          </button>
        </div>

        <div class="col-lg-12 col-md-4 col-sm-12">
          <button
            mat-raised-button
            type="button"
            color="primary"
            class="btn btn-disciplinaryboard-router"
            (click)="showDisciplinaryBoardDecisions()"
          >
            DİSİPLİN KURULU KARARLARI
          </button>
        </div>

        <div class="col-lg-12 col-md-4 col-sm-12">
          <button
            mat-raised-button
            type="button"
            color="primary"
            class="btn btn-disciplinaryboard-router"
            (click)="showOrganizinCommitteeDecisions()"
          >
            İL TERTİP KOMİTESİ KARARLARI
          </button>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="extAdvertisementList.length > 0">
          <mat-card class="card card-advertisement card-advertisement-1">
            <a [href]="extAdvertisementList[0].url" target="_blank">
              <img class="img-advertisement" [src]="extAdvertisementList[0].imagePath" [alt]="extAdvertisementList[0].linkName">
            </a>
          </mat-card>
        </div>

      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-application-document-category-list-in-home></app-application-document-category-list-in-home>
    </div>

    <div class="col-lg-9 col-md-12 col-sm-12" *ngIf="extAdvertisementList.length > 0">
      <mat-card class="card card-advertisement card-advertisement-2">
        <a [href]="extAdvertisementList[1].url" target="_blank">
          <img class="img-advertisement" [src]="extAdvertisementList[1].imagePath" [alt]="extAdvertisementList[1].linkName">
        </a>
      </mat-card>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-global-statistics-teams-count-by-town></app-global-statistics-teams-count-by-town>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-global-statistics-stadiums-count-by-town></app-global-statistics-stadiums-count-by-town>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-global-statistics-stadiums-count-by-floortype></app-global-statistics-stadiums-count-by-floortype>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12">
      <app-application-external-links-in-home></app-application-external-links-in-home>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <a class="weatherwidget-io" href="https://forecast7.com/tr/38d4227d14/izmir/" data-label_1="İZMİR" data-label_2="HAVA DURUMU" data-icons="Climacons Animated" data-days="3" data-theme="weather_one" >İZMİR HAVA DURUMU</a>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="extAdvertisementList.length > 0">
        <mat-card class="card card-advertisement card-advertisement-1">
          <a [href]="extAdvertisementList[0].url" target="_blank">
            <img class="img-advertisement" [src]="extAdvertisementList[0].imagePath" [alt]="extAdvertisementList[0].linkName">
          </a>
        </mat-card>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">


    </div>


  </div>
</div>
