<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Sezonlar</mat-label>
        <mat-select
          matInput
          placeholder="Sezon"
          [(ngModel)]="seasonSelectionId"
          (selectionChange)="onSeasonChange(seasonSelectionId)"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option *ngFor="let season of seasonList" [value]="season.id">
            {{ season.seasonName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Ligler</mat-label>
        <mat-select
          matInput
          placeholder="Lig"
          [(ngModel)]="leagueSelectionId"
          (selectionChange)="onLeagueChange(leagueSelectionId)"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option *ngFor="let league of leagueList" [value]="league.id">
            {{ league.leagueName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Gruplar</mat-label>
        <mat-select
          matInput
          placeholder="Grup"
          [(ngModel)]="groupstageSelectionId"
          (selectionChange)="onGroupstageChange(groupstageSelectionId)"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option *ngFor="let group of groupstageList" [value]="group.id">
            {{ group.groupName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Hafta</mat-label>
        <mat-select
          matInput
          placeholder="Hafta"
          [(ngModel)]="matchWeekSelectionValue"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option
            *ngFor="let week of weekSequenceList"
            [value]="week.weekSequence"
          >
            {{ week.weekSequence + ". Hafta" }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Maç Numarası</mat-label>
        <input matInput type="text" [(ngModel)]="matchNoInputValue" />
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Sahalar</mat-label>
        <mat-select
          matInput
          placeholder="Saha"
          [(ngModel)]="stadiumSelectionId"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option *ngFor="let stadium of stadiumList" [value]="stadium.id">
            {{ stadium.stadiumName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Ev Sahibi Takım</mat-label>
        <mat-select
          matInput
          placeholder="Ev Sahibi Takım"
          [(ngModel)]="homeTeamSelectionId"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option *ngFor="let team of teamList" [value]="team.id">
            <div class="d-flex align-items-center">
              <img mat-card-avatar class="image-teamlogo-scoreboard-search" [src]="team.imagePath || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'" [alt]="team.shortName || team.officialname || 'BAY'">
              {{team.shortName || team.officialName || 'BAY'}}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Misafir Takım</mat-label>
        <mat-select
          matInput
          placeholder="Misafir Takım"
          [(ngModel)]="awayTeamSelectionId"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option *ngFor="let team of teamList" [value]="team.id">
            <div class="d-flex align-items-center">
              <img mat-card-avatar class="image-teamlogo-scoreboard-search" [src]="team.imagePath || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'" [alt]="team.shortName || team.officialname || 'BAY'">
              {{team.shortName || team.officialName || 'BAY'}}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Müsabaka Durumu</mat-label>
        <mat-select
          matInput
          placeholder="Müsabaka Durumu"
          [(ngModel)]="matchStatusSelectionValue"
        >
          <mat-option [value]="null">
            {{ "Seçiniz" }}
          </mat-option>
          <mat-option
            *ngFor="let status of matchStatusList"
            [value]="status.name"
          >
            <mat-icon class="{{ getMatchStatusClass(status.name) }}"
              >circle</mat-icon
            >
            {{ status.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>İlçe</mat-label>
        <mat-select
          matInput
          placeholder="İlçe"
          [(ngModel)]="townSelectionValue"
        >
          <mat-option *ngFor="let town of townList" [value]="town.name">
            {{ findTown(town.name) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Başlangıç Tarihi</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="startDatePickedValue"
          onfocus="this.showPicker()"
        />
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Bitiş Tarihi</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="endDatePickedValue"
          onfocus="this.showPicker()"
        />
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <mat-form-field class="form-input">
        <mat-label>Bülten No</mat-label>
        <mat-select
          matInput
          placeholder="Bülten No"
          [(ngModel)]="weeklyMatchProgramId"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let weeklyMatchProgram of weeklyMatchProgramList" [value]="weeklyMatchProgram.id">
            <fa-icon
              [icon]="getFontAwesomeIcon('faCircle')"
              class="icon icon-circle"
              [ngStyle]="{ color: weeklyMatchProgram.isActive ? 'green' : 'red' }"
              matTooltip="{{ weeklyMatchProgram.isActive ? 'Aktif' : 'Aktif Değil' }}"
            >
            </fa-icon>
            {{
              weeklyMatchProgram.id +
              " / " +
              (weeklyMatchProgram.beginDate | date: 'dd.MM.yyyy') +
              " - " +
              (weeklyMatchProgram.endDate | date: 'dd.MM.yyyy')
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button
    mat-raised-button
    type="button"
    class="btn-search"
    color="primary"
    (click)="onSearch()"
  >
    <mat-icon>search</mat-icon>
    Arama
  </button>

  <div class="container-score-board">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <button
          mat-raised-button
          type="button"
          class="btn-action btn-import btn-file-picker"
          matTooltip="İçe Aktar"
          (click)="filePicker.click()"
          [disabled]="fixtureList.length <= 0"
          [hidden]="fixtureList.length <= 0"
        >
          İçe Aktar
        </button>
        <input type="file" #filePicker (change)="onFilePicked($event)" />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <button
          mat-raised-button
          type="button"
          class="btn-action btn-export"
          matTooltip="Dışa Aktar"
          [disabled]="fixtureList.length <= 0"
          [hidden]="fixtureList.length <= 0"
          (click)="onExport()"
        >
          Dışa Aktar
        </button>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <button
          mat-raised-button
          type="button"
          color="warn"
          class="btn-action btn-clear"
          matTooltip="Temizle"
          [disabled]="fixtureList.length <= 0"
          [hidden]="fixtureList.length <= 0"
          (click)="onClear()"
        >
          Temizle
        </button>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <button
          mat-raised-button
          type="button"
          color="primary"
          class="btn-action btn-save"
          matTooltip="Kaydet"
          (click)="onSave()"
          [disabled]="fixtureList.length <= 0"
          [hidden]="fixtureList.length <= 0"
        >
          Kaydet
        </button>
      </div>
    </div>

    <div class="row" *ngIf="fixtureList.length > 0">
      <div
        class="col-lg-12 col-md-12 col-sm-12"
        *ngFor="let fixture of fixtureList"
      >
        <mat-card>
          <mat-card-header class="score-card-header">
            <mat-card-title-group>
              <mat-card-subtitle class="font-score-card-header">
                {{
                  fixture.seasonName +
                    " " +
                    fixture.leagueName +
                    " " +
                    fixture.groupstageName +
                    " " +
                    fixture.matchWeek +
                    ". HAFTA"
                }}
              </mat-card-subtitle>
              <mat-card-subtitle class="font-score-card-header">
                {{ "Müsabaka Numarası: " + fixture.matchNo }}
              </mat-card-subtitle>
              <mat-card-subtitle><p></p></mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <mat-card-content class="score-card-content">
            <p></p>
            <div class="row" [align]="'center'">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <img mat-card-avatar [src]="fixture.homeTeamImagePath || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'" [alt]="fixture.homeTeamShortName || fixture.homeTeamOfficialName || 'BAY'">
                <mat-card-title class="font-team">
                  <fa-icon
                    *ngIf="
                      fixture.homeTeamIsExpelled || fixture.homeTeamIsReceded
                    "
                    [icon]="getFontAwesomeIcon('faCircleInfo')"
                    class="icon icon-circle-info"
                    matTooltip="{{
                      fixture.homeTeamExpelledOrRecededExplanation
                    }}"
                  >
                  </fa-icon>
                  {{ fixture.homeTeamShortName || fixture.homeTeamOfficialName || 'BAY' }}
                  <fa-icon
                    *ngIf="fixture.isHomeTeamWinByForfeit"
                    [icon]="getFontAwesomeIcon('faCircleH')"
                    class="icon icon-circle-h"
                    matTooltip="Hükmen"
                  >
                  </fa-icon>
                </mat-card-title>
                <mat-card-title>
                  <mat-form-field class="form-input input-score">
                    <mat-label>Skor</mat-label>
                    <input
                      matInput
                      #homeTeamScore
                      type="number"
                      [value]="fixture.homeTeamScore"
                      (keypress)="numbersOnly($event)"
                      (change)="
                        onScoreChange(
                          fixture.matchNo || null,
                          homeTeamScore.value || null,
                          awayTeamScore.value || null
                        )
                      "
                    />
                  </mat-form-field>
                </mat-card-title>

                <mat-card-title>
                  <mat-form-field class="form-input input-point">
                    <mat-label>Puan</mat-label>
                    <input
                      matInput
                      #homeTeamPoint
                      type="number"
                      [value]="fixture.homeTeamPoint"
                      (keypress)="numbersOnly($event)"
                      (change)="
                        onPointChange(
                          fixture.matchNo || null,
                          homeTeamPoint.value || null,
                          awayTeamPoint.value || null
                        )
                      "
                    />
                  </mat-form-field>
                </mat-card-title>
              </div>

              <div class="col-lg-4 col-md-12 col-sm-12">
                <mat-form-field class="form-input input-stadium">
                  <mat-label>Saha</mat-label>
                  <mat-select
                    matInput
                    #matchStadium
                    (selectionChange)="onStadiumChange(fixture.matchNo || null, matchStadium.value)"
                    [value]="fixture.stadiumId"
                  >
                    <mat-option [value]="null">
                      {{ 'Seçiniz' }}
                    </mat-option>
                    <mat-option *ngFor="let stadium of stadiumList" [value]="stadium.id">
                      {{ stadium.stadiumName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="form-input input-matchdate">
                  <mat-label>Tarih</mat-label>
                  <input
                    matInput
                    #matchDate
                    type="datetime-local"
                    [value]="fixture.matchDate"
                    onfocus="this.showPicker()"
                    (change)="onMatchDateChange(fixture.matchNo, matchDate.value)"
                  >
                </mat-form-field>

                <mat-card-subtitle>
                  <mat-icon
                    class="{{ getMatchStatusClass(fixture.matchStatus) }}"
                    matTooltip="{{ getMatchStatus(fixture.matchStatus) }}"
                  >circle
                  </mat-icon>
                </mat-card-subtitle>
              </div>

              <div class="col-lg-4 col-md-12 col-sm-12">
                <img mat-card-avatar [src]="fixture.awayTeamImagePath || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6dYptPDzTNQh8ScooEG0lSXCgM-GWt2NKVuz9CmYcg&s'" [alt]="fixture.awayTeamShortName || fixture.awayTeamOfficialName || 'BAY'">
                <mat-card-title class="font-team">
                  <fa-icon
                    *ngIf="fixture.isAwayTeamWinByForfeit"
                    [icon]="getFontAwesomeIcon('faCircleH')"
                    class="icon icon-circle-h"
                    matTooltip="Hükmen"
                  >
                  </fa-icon>
                  {{ fixture.awayTeamShortName || fixture.awayTeamOfficialName || 'BAY' }}
                  <fa-icon
                    *ngIf="
                      fixture.awayTeamIsExpelled || fixture.awayTeamIsReceded
                    "
                    [icon]="getFontAwesomeIcon('faCircleInfo')"
                    class="icon icon-circle-info"
                    matTooltip="{{
                      fixture.awayTeamExpelledOrRecededExplanation
                    }}"
                  >
                  </fa-icon>
                </mat-card-title>
                <mat-card-title>
                  <mat-form-field class="form-input input-score">
                    <mat-label>Skor</mat-label>
                    <input
                      matInput
                      #awayTeamScore
                      type="number"
                      [value]="fixture.awayTeamScore"
                      (keypress)="numbersOnly($event)"
                      (change)="
                        onScoreChange(
                          fixture.matchNo || null,
                          homeTeamScore.value || null,
                          awayTeamScore.value || null
                        )
                      "
                    />
                  </mat-form-field>
                </mat-card-title>

                <mat-card-title>
                  <mat-form-field class="form-input input-point">
                    <mat-label>Puan</mat-label>
                    <input
                      matInput
                      #awayTeamPoint
                      type="number"
                      [value]="fixture.awayTeamPoint"
                      (keypress)="numbersOnly($event)"
                      (change)="
                        onPointChange(
                          fixture.matchNo || null,
                          homeTeamPoint.value || null,
                          awayTeamPoint.value || null
                        )
                      "
                    />
                  </mat-form-field>
                </mat-card-title>
              </div>

              <div class="col-2"></div>
              <div class="col-4">
                <mat-form-field class="form-input">
                  <mat-label>Hükmen Galip</mat-label>
                  <mat-select
                    matInput
                    placeholder="Hükmen Galip"
                    #winnerByForfeit
                    [value]="
                      findTeamWinByForfeit(
                        fixture.isHomeTeamWinByForfeit,
                        fixture.isAwayTeamWinByForfeit
                      )
                    "
                    (selectionChange)="
                      onWinByForfeitChange(
                        fixture.matchNo || null,
                        winnerByForfeit.value || null
                      )
                    "
                  >
                    <mat-option [value]="null">Seçiniz</mat-option>
                    <mat-option [value]="'homeTeamWinByForfeit'"
                      >Ev Sahibi Takım</mat-option
                    >
                    <mat-option [value]="'awayTeamWinByForfeit'"
                      >Misafir Takım</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-4">
                <mat-form-field class="form-input">
                  <mat-label>Müsabaka Durumu</mat-label>
                  <mat-select
                    matInput
                    placeholder="Müsabaka Durumu"
                    #matchStatus
                    [value]="fixture.matchStatus"
                    (selectionChange)="
                      onMatchStatusChange(
                        fixture.matchNo || null,
                        matchStatus.value || null
                      )
                    "
                  >
                    <mat-option
                      *ngFor="let status of matchStatusList"
                      [value]="status.name"
                    >
                      <mat-icon class="{{ getMatchStatusClass(status.name) }}"
                        >circle</mat-icon
                      >
                      {{ status.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-2"></div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field class="form-input">
                  <mat-label>Açıklama</mat-label>
                  <input
                    matInput
                    type="text"
                    #explanation
                    [value]="fixture.explanation"
                    (change)="onMatchExplanationChange(
                      fixture.matchNo || null,
                      explanation.value || null
                    )"
                  >
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <app-application-no-record-fixturesearch *ngIf="fixtureList.length <= 0"></app-application-no-record-fixturesearch>
  </div>
</div>
