<div class="container">
  <mat-toolbar class="toolbar toolbar-title">
    <span>{{headerTitle}}</span>
  </mat-toolbar>



  <mat-card>

    <mat-spinner *ngIf="isLoading"></mat-spinner>

      <form
        [formGroup]="newsCreateForm"
        (submit)="onAddNews()"
        *ngIf="!isLoading"
      >
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Haber Başlığı</mat-label>
              <input
                matInput
                type="text"
                formControlName="title"
                placeholder="Başlık (en fazla 200 karakter)"
              >
              <mat-hint align="end">{{newsCreateForm.get('title').value ? newsCreateForm.get('title').value.length : 0}}/200</mat-hint>
              <mat-error *ngIf="newsCreateForm.get('title').invalid">En fazla 200 karakter!</mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-form-field class="form-input">

              <angular-editor
                matInput
                formControlName="content"
                [config]="editorConfig"
                placeholder="Haber Metni">
              </angular-editor>

              <textarea
                hidden
                matInput
                type="text"
                formControlName="content"
                placeholder="Metin (en fazla 4000 karakter)"
                rows="8"
              ></textarea>

              <!--<mat-hint align="end">{{newsCreateForm.get('content').value ? newsCreateForm.get('content').value.length : 0}}/4000</mat-hint>-->
              <mat-error *ngIf="newsCreateForm.get('content').invalid">Lütfen haber metni giriniz!</mat-error>
            </mat-form-field>
          </div>



          <div class="col-lg-9 col-md-9 col-sm-12">
            <button
                mat-stroked-button
                type="button"
                color="primary"
                (click)="filePicker.click()"
                >Resim Seç</button>
              <input type="file" #filePicker (change)="onFilePicked($event)"/>
              <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && newsCreateForm.get('newsImage').valid">
                <img [src]="imagePreview" [alt]="newsCreateForm.value.title">
              </div>
              <mat-error *ngIf="!newsCreateForm.get('newsImage').valid">Lütfen geçerli bir resim seçiniz! (en fazla 5MB)</mat-error>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Yayında mı?</mat-label>
              <mat-select
                matInput
                formControlName="isOnline"
                placeholder="Evet"
                >
                <mat-option [value]="true">Evet</mat-option>
                <mat-option [value]="false">Hayır</mat-option>
              </mat-select>
              <mat-error *ngIf="newsCreateForm.get('isOnline').invalid">Lütfen bir değer seçiniz!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button mat-raised-button color="primary" type="submit">Oluştur</button>
          <button mat-raised-button type="button" (click)="onClearNewsForm()">Temizle</button>
        </mat-action-row>
      </form>
  </mat-card>
</div>
