/* Mat-Card Component Start */

.mat-mdc-card-avatar {
  border-radius: 0px;
}

/*
mat-card-title {
  font-size: medium;
}
*/

mat-card {
  margin-bottom: 1.5rem;
}

mat-card-header, mat-card-content {
  background-color: whitesmoke;
}

mat-action-row {
  display: block;
  border: none;
  margin: .25rem 0px;
}

/* Mat-Card Component End */



/* Mat-Table Component Start */

table {
  width: 100%;
}

tr.table-detail-row:hover {
  background: whitesmoke;
}

tr.table-header-row {
  background-color: #3F51B5;
}

.mdc-data-table__header-cell {
  color: white;
}

.mdc-data-table__header-cell, .mdc-data-table__cell {
  text-align: center;
}

/* Mat-Table Component End */



/* Class Attributes Start */

.toolbar-title {
  margin: 1rem 0;
}

.create-card {
  height: 100%;
  box-shadow: none;
}

.create-card .create-button {
  margin: auto;
}

/* Class Attributes End */

mat-form-field, textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}
