#page-container {
  position: relative;
  min-height: 90vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  background-color: #3F51B5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}


/* Mat-Card Component Start */

/*
mat-card-title {
  font-size: medium;
}
*/

mat-card {
  margin-bottom: 1.5rem;
}

mat-card-header, mat-card-content {
  background-color: whitesmoke;
}

mat-action-row {
  display: block;
  border: none;
  /*margin: .25rem 0px;*/
}

/* Mat-Card Component End */

.mat-mdc-card-xl-image {
  height: auto;
}

.mat-mdc-card-lg-image {
  height: auto;
}

.mat-mdc-card-md-image {
  height: auto;
}

.mat-mdc-card-sm-image {
  height: auto;
}

.mat-mdc-card-avatar {
  height: auto;
  margin-bottom: 0;
}



/* Mat-Table Component Start */

table {
  width: 100%;
}

tr.table-detail-row:hover {
  background: whitesmoke;
}

tr.table-header-row {
  background-color: #3F51B5;
}

.mdc-data-table__header-cell {
  color: white;
}

.mdc-data-table__header-cell, .mdc-data-table__cell {
  text-align: center;
}

/* Mat-Table Component End */



/* Class Attributes Start */


.create-card {
  height: 100%;
  box-shadow: none;
}

.create-card .create-button {
  margin: auto;
}

/* Class Attributes End */

mat-form-field, textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

/* Match Status Class Attributes Start */
.icon-match-status {
  font-size: x-small;
  overflow: unset;
}

.match-status-notplayed {
  color: grey;
}

.match-status-played {
  color: green;
}

.match-status-postponed {
  color: rgb(255, 165, 0);
}

.match-status-byforfeit {
  color: red;
}
/* Match Status Class Attributes End */

/* Social Media Class Attributes Begin */
.fa-facebook-f {
  color: #1877F2;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-square-instagram {
  color: #E1306C;
}

.fa-youtube {
  color: #FF0000;
}

.fa-linkedin-in {
  color: #0077B5;
}

.fa-tiktok {
  color: #000000;
}

.fa-snapchat {
  color: #FFFC00;
}

/* Social Media Class Attributes End */

