.card-document-category-list {
  cursor: pointer;
  background-color: #3F51B5;
}

.card-document-category-list:hover{
  background-color: aqua;
  transition: 100ms ease-in;

}

.card-image:hover {
  opacity: 90%;
  filter: blur(0.1rem);
  size: 100%;
}


.card-image {
  opacity: 85%;
  filter: blur(0.05rem);
}

.carousel-caption {
  background-color: rgba(63, 81, 181, 0.85);
  left: 0;
  right: 0;
  width: 100%;
  color: whitesmoke;
}

.carousel-caption > mat-card-title {
  font-size: large;
  font-weight: normal;
}

