<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let category of documentCategoryList">
    <mat-card class="card-document-category-list" (click)="showDocumentsList(category.name)" *ngIf="category.name !== 'AKTARMADOSYALARI'">
      <img mat-card-image class="card-image" [src]="'https://rare-gallery.com/uploads/posts/508439-account-black.jpg'" alt="">
      <div class="carousel-caption d-md-block">
        <mat-card-title>{{category.value}}</mat-card-title>
      </div>
    </mat-card>
  </div>
</div>

