<div>
  <mat-dialog-content class="mat-typography">
    <mat-card>
      <mat-dialog-actions align="end">
        <button mat-icon-button mat-dialog-close class="icon">
          <mat-icon>close</mat-icon>
        </button>
      </mat-dialog-actions>

      <form
        [formGroup]="staffITFFSubmitForm"
        (submit)="onSubmitForm()"
        *ngIf="!isLoading"
      >
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <button
              mat-stroked-button
              type="button"
              color="primary"
              class="btn-image-picker"
              (click)="filePicker.click()"
            >Resim Seç</button>
            <button
              mat-stroked-button
              type="button"
              color="warn"
              class="btn-image-picker"
              *ngIf="staffITFFSubmitForm.value.imagePath !== '' && staffITFFSubmitForm.value.imagePath && staffITFFSubmitForm.get('imageAttachment').valid"
              (click)="filePickerRemove()"
            >Kaldır</button>
            <input type="file" name="image" #filePicker (change)="onFilePicked($event)" />
            <div
              class="image-preview"
            >
              <img
                mat-card-lg-image
                [src]="staffITFFSubmitForm.value.imagePath || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'"
                [alt]="toolbarTitle"
              />
            </div>
            <mat-error *ngIf="!staffITFFSubmitForm.get('imageAttachment').valid">
              Lütfen geçerli bir resim seçiniz! (en fazla 5MB)
            </mat-error>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Unvan</mat-label>
              <input
                matInput
                type="text"
                formControlName="title"
                placeholder="Unvan"
              />
              <mat-hint align="end"
                >{{
                  staffITFFSubmitForm.get("title").value
                    ? staffITFFSubmitForm.get("title").value.length
                    : 0
                }}/200</mat-hint
              >
              <mat-error *ngIf="staffITFFSubmitForm.get('title').invalid">
                Lütfen unvan giriniz! (en fazla 200 karakter)
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Ad - Soyad</mat-label>
              <input
                matInput
                type="text"
                formControlName="fullName"
                placeholder="Ad - Soyad"
              />
              <mat-hint align="end"
                >{{
                  staffITFFSubmitForm.get("fullName").value
                    ? staffITFFSubmitForm.get("fullName").value.length
                    : 0
                }}/200</mat-hint
              >
              <mat-error *ngIf="staffITFFSubmitForm.get('fullName').invalid"
                >Lütfen ad-soyad giriniz! (en fazla 200 karakter)</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Telefon</mat-label>
              <input
                matInput
                type="text"
                formControlName="phone"
                placeholder="Telefon No"
              />
              <mat-hint align="end"
                >{{
                  staffITFFSubmitForm.get("phone").value
                    ? staffITFFSubmitForm.get("phone").value.length
                    : 0
                }}/200</mat-hint
              >
              <mat-error *ngIf="staffITFFSubmitForm.get('phone').invalid"
                >Lütfen unvan giriniz! (en fazla 200 karakter)</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>E-posta</mat-label>
              <input
                matInput
                type="text"
                formControlName="email"
                placeholder="E-posta"
              />
              <mat-hint align="end"
                >{{
                  staffITFFSubmitForm.get("email").value
                    ? staffITFFSubmitForm.get("email").value.length
                    : 0
                }}/200</mat-hint
              >
              <mat-error *ngIf="staffITFFSubmitForm.get('email').invalid">
                Lütfen unvan giriniz! (en fazla 200 karakter)
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Aktif mi?</mat-label>
              <mat-select
                matInput
                formControlName="isVisible"
                placeholder="Evet"
              >
                <mat-option [value]="true">Evet</mat-option>
                <mat-option [value]="false">Hayır</mat-option>
              </mat-select>
              <mat-error *ngIf="staffITFFSubmitForm.get('isVisible').invalid">
                Lütfen bir değer seçiniz!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="form-input">
              <mat-label>Sıra No</mat-label>
              <input
                matInput
                type="number"
                formControlName="orderNo"
                placeholder="(1-999)"
              />
              <mat-error *ngIf="staffITFFSubmitForm.get('orderNo').invalid">
                Lütfen sıralama numarası giriniz! (1-999)
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            *ngIf="data.mode == 'create'"
            type="submit"
          >
            Oluştur
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="data.mode == 'edit'"
            type="submit"
          >
            Düzenle
          </button>
          <button
            mat-raised-button
            color="warn"
            *ngIf="data.mode == 'edit'"
            type="button"
            (click)="onDelete(staffITFFSubmitForm.value.id)"
          >
            Sil
          </button>
        </mat-action-row>
      </form>
    </mat-card>
  </mat-dialog-content>
</div>
