<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div class="row" *ngIf="staffizmiraskfList.length > 0">
    <div class="{{i == 0 ? 'col-lg-12 col-md-12' : 'col-lg-6 col-md-6'}} col-sm-12"
    *ngFor="let staffizmiraskf of staffizmiraskfList; let i = index">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-sm-image class="img-staff" [src]="staffizmiraskf.imagePath || 'assets/no-team-logo.png'" [alt]="staffizmiraskf.title">
            <mat-card-title>{{staffizmiraskf.fullName}}</mat-card-title>
            <mat-card-subtitle>{{staffizmiraskf.title}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="staffizmiraskf.phone">
              <fa-icon
                matTextPrefix=""
                class="icon"
                [icon]="getFontAwesomeIcon('faPhone')"
              ></fa-icon>
              {{staffizmiraskf.phone}}
            </mat-card-subtitle>

            <mat-card-subtitle *ngIf="staffizmiraskf.phone">
              <fa-icon
                matTextPrefix=""
                class="icon"
                [icon]="getFontAwesomeIcon('faEnvelope')"
              ></fa-icon>
              {{staffizmiraskf.email}}
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <app-application-no-content-info *ngIf="!(staffizmiraskfList.length > 0)"></app-application-no-content-info>
</div>
