<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-global-statistics-teams-count-by-town></app-global-statistics-teams-count-by-town>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-global-statistics-stadiums-count-by-town></app-global-statistics-stadiums-count-by-town>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-global-statistics-stadiums-count-by-floortype></app-global-statistics-stadiums-count-by-floortype>
    </div>
  </div>
</div>
