.container {
  text-align: center;
}

.body-footer {
  background-color: whitesmoke;
}

.fa-brands {
  margin-left: 0.5rem;
  font-size: medium;
  color: #00378F !important;
}

mat-card-subtitle {
  color: #00378F;
  margin: 0.5rem 0;
}

