.mat-mdc-card-sm-image {
  height: auto;
  width: 4rem;
}

.container {
  text-align: center;
}

.body-footer {
  background-color: #00378F;
}

.fa-brands {
  margin-left: 0.5rem;
  color: white !important;
}

p {
  color: white;
  font-size: smaller;
}

li {
  display: flex;
}

.nav-item {
  font-weight: 550;
  cursor: pointer;
}

.dropdown-item {
  font-weight: 100;
  justify-content: start !important;
  cursor: pointer;
}

