<div class="body-footer" id="footer-application">
  <div class="container">
    <br>
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <mat-card-subtitle>
          <div class="d-flex align-items-center justify-content-center">
            <img mat-card-sm-image [src]="logoPath" [alt]="'İZMİR AMATÖR SPOR KULÜPLERİ FEDERASYONU'" (click)="onRouteHome()">
            <!--İZMİR AMATÖR SPOR KULÜPLERİ FEDERASYONU-->
          </div>
        </mat-card-subtitle>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="justify-content-center">
          <mat-card-subtitle>
            &copy; {{ + getFullYear() + " Tüm hakları saklıdır. "}}
          </mat-card-subtitle>
          <div class="d-flex align-items-center justify-content-center">
            <mat-card-subtitle class="socialmedia-selector" *ngFor="let link of externalLinksList">
              <fa-icon
                [icon]="findIconFaIcon(link.faBrand)"
                matTooltip="{{link.linkName}}"
                class="{{findIconFaClass(link.faBrand)}}"
                (click)="routeToURL(link.url)"
              >
              </fa-icon>
            </mat-card-subtitle>
          </div>

        </div>

      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <mat-card-subtitle>
          <div class="d-flex align-items-center justify-content-center">
            Powered by
            <a href="https://www.runtiya.com" target="_blank">
              <img mat-card-sm-image [src]="'http://localhost:3000/images/runtiya-logo.png'" [alt]="'RUNTIYA'">
            </a>
          </div>

        </mat-card-subtitle>
      </div>
    </div>
    <br>
  </div>
</div>


