<div class="body-footer">
  <div class="container">
    <br>
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          İZMİR AMATÖR SPOR KULÜPLERİ FEDERASYONU
        </mat-card-subtitle>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="d-flex align-items-center justify-content-center">
          <mat-card-subtitle>
            &copy; {{ + getFullYear() + " Tüm hakları saklıdır. "}}
          </mat-card-subtitle>
          <mat-card-subtitle class="socialmedia-selector" *ngFor="let link of externalLinksList">
            <fa-icon
              [icon]="findIconFaIcon(link.faBrand)"
              matTooltip="{{link.linkName}}"
              class="{{findIconFaClass(link.faBrand)}}"
              (click)="routeToURL(link.url)"
            >
            </fa-icon>
          </mat-card-subtitle>
        </div>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-card-subtitle>
          Powered by
          <a href="https://www.runtiya.com" target="_blank">
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </a>
        </mat-card-subtitle>
      </div>
    </div>
    <br>
  </div>
</div>


