<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div class="row search-options-bar" id="searchOptionsBar-WeeklyMatchList" *ngIf="fixtureList.length > 0">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Lig</mat-label>
        <mat-select
          matInput
          placeholder="Lig"
          [(ngModel)]="filterLeagueSelectionValue"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let league of filterLeagueList" [value]="league">
            {{league}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Grup</mat-label>
        <mat-select
          matInput
          placeholder="Grup"
          [(ngModel)]="filterGroupstageSelectionValue"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let groupstage of filterGroupstageList" [value]="groupstage">
            {{groupstage}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Takım</mat-label>
        <mat-select
          matInput
          placeholder="Takım"
          [(ngModel)]="filterTeamSelectionValue"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let team of filterTeamList" [value]="team">
            {{team}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>İlçe</mat-label>
        <mat-select
          matInput
          placeholder="İlçe"
          [(ngModel)]="filterTownSelectionValue"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let town of filterTownList" [value]="town">
            {{getTownName(town)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Saha</mat-label>
        <mat-select
          matInput
          placeholder="Saha"
          [(ngModel)]="filterStadiumSelectionValue"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let stadium of filterStadiumList" [value]="stadium">
            {{stadium}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-form-field class="form-input">
        <mat-label>Tarih</mat-label>
        <mat-select
          matInput
          placeholder="Tarih"
          [(ngModel)]="filterDateSelectionValue"
        >
          <mat-option [value]="null">{{'Seçiniz'}}</mat-option>
          <mat-option *ngFor="let date of filterDateList" [value]="date">
            {{date}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12">
      <button
        mat-raised-button
        color="primary"
        class="btn-search"
        matTooltip="Filtre Uygula"
        (click)="onSearch()"
      >
        <fa-icon
        [icon]="getFontAwesomeIcon('faFilter')"
        ></fa-icon>
        Filtrele
      </button>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6">
    <button
    *ngIf="filteredFixtureList.length > 0"
      mat-raised-button
      class="btn-export"
      id="btn-export-weeklymatchlist-application"
      (click)="onExport()"
    >
      <fa-icon
      [icon]="getFontAwesomeIcon('faDownload')"
      ></fa-icon>
      Dışa Aktar
    </button>
  </div>


  <div class="table-weeklymatchlist" id="tableWeeklyMatchList">
    <app-application-no-record-info *ngIf="filteredFixtureList.length <= 0 && fixtureList.length > 0"></app-application-no-record-info>
    <table mat-table [dataSource]="filteredFixtureList" *ngIf="filteredFixtureList.length > 0" class="mat-elevation-z8">
      <ng-container matColumnDef="matchNo">
        <th mat-header-cell *matHeaderCellDef="">Maç No.</th>
        <td mat-cell *matCellDef="let fixture">{{ fixture.matchNo }}</td>
      </ng-container>

      <ng-container matColumnDef="homeTeam">
        <th mat-header-cell *matHeaderCellDef="">Ev Sahibi Takım</th>
        <td mat-cell *matCellDef="let fixture">
          <div class="d-flex align-items-center">
            <img mat-card-avatar class="img-team-logo" [src]="fixture.homeTeamImagePath || 'assets/no-profile.png'" alt="{{fixture.homeTeamShortName || fixture.homeTeamOfficialName || 'BAY'}}">
            <fa-icon
              *ngIf="
                fixture.homeTeamIsExpelled || fixture.homeTeamIsReceded
              "
              [icon]="getFontAwesomeIcon('faCircleInfo')"
              class="icon icon-circle-info"
              matTooltip="{{
                fixture.homeTeamExpelledOrRecededExplanation
              }}"
            >
            </fa-icon>
            <div>{{ fixture.homeTeamShortName || fixture.homeTeamOfficialName || 'BAY' }}</div>
            <fa-icon
              *ngIf="fixture.isHomeTeamWinByForfeit"
              [icon]="getFontAwesomeIcon('faCircleH')"
              class="icon icon-circle-h"
              matTooltip="Hükmen"
            >
            </fa-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef="">Detaylar</th>
        <td mat-cell *matCellDef="let fixture">
          <mat-card-subtitle>
            {{
              fixture.seasonName + " " +
              fixture.leagueName + " " +
              fixture.groupstageName
            }}
          </mat-card-subtitle>

          <mat-card-subtitle>
            <fa-icon
              [icon]="getFontAwesomeIcon('faLocationPin')"
              class="icon icon-location-pin"
              matTooltip="Saha"
            >
            </fa-icon>
            {{ fixture.stadiumName || 'Saha Belirtilmedi' }}
          </mat-card-subtitle>

          <mat-card-subtitle>
            <fa-icon
              [icon]="getFontAwesomeIcon('faStopwatch')"
              class="icon icon-stop-watch"
              matTooltip="Tarih"
            >
            </fa-icon>
            {{ getMatchDate(fixture.matchDate) || 'Tarih Belirtilmedi' }}
          </mat-card-subtitle>

          <mat-card-subtitle>
            <mat-icon
              class="{{ getMatchStatusClass(fixture.matchStatus) }}"
              matTooltip="{{ getMatchStatus(fixture.matchStatus) }}"
            >circle
            </mat-icon>
          </mat-card-subtitle>

          <mat-card-subtitle *ngIf="fixture.homeTeamScore !== null && fixture.awayTeamScore !== null">
            <b class="font-match-score">
              {{fixture.homeTeamScore + " - " + fixture.awayTeamScore}}
            </b>
          </mat-card-subtitle>

          <mat-card-subtitle>
            {{fixture.explanation}}
          </mat-card-subtitle>
        </td>
      </ng-container>

      <ng-container matColumnDef="awayTeam">
        <th mat-header-cell *matHeaderCellDef="">Misafir Takım</th>
        <td mat-cell *matCellDef="let fixture">
          <div class="d-flex align-items-center">
            <img mat-card-avatar class="img-team-logo" [src]="fixture.awayTeamImagePath || 'assets/no-profile.png'" alt="{{fixture.awayTeamShortName || fixture.awayTeamOfficialName || 'BAY'}}">
            <fa-icon
              *ngIf="
                fixture.awayTeamIsExpelled || fixture.awayTeamIsReceded
              "
              [icon]="getFontAwesomeIcon('faCircleInfo')"
              class="icon icon-circle-info"
              matTooltip="{{
                fixture.awayTeamExpelledOrRecededExplanation
              }}"
            >
            </fa-icon>
            <div>{{ fixture.awayTeamShortName || fixture.awayTeamOfficialName || 'BAY' }}</div>
            <fa-icon
              *ngIf="fixture.isAwayTeamWinByForfeit"
              [icon]="getFontAwesomeIcon('faCircleH')"
              class="icon icon-circle-h"
              matTooltip="Hükmen"
            >
            </fa-icon>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="tableColumns"
        class="table-header-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: tableColumns"
        class="table-detail-row"
      ></tr>
    </table>

    <mat-card *ngIf="filteredFixtureList.length > 0">
      <mat-card-content>
        <mat-card-subtitle>
          Toplam Kayıt Sayısı: {{ filteredFixtureList.length }}
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <app-application-no-content-info *ngIf="fixtureList.length <= 0"></app-application-no-content-info>
  </div>
</div>
