mat-form-field {
  width: 100%;
}

mat-action-row button {
  margin-right: 1rem;
}

.mat-mdc-card {
  box-shadow: none;
}

.btn-image-picker {
  margin-right: 0.5rem;
}

.image-preview img {
  height: 100%;
  margin: 0.5rem 0;
}


.btn-image-picker {
  margin-right: 0.5rem;
}
