mat-divider {
  margin: 2rem 0px;
}

.external-link {
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.mdc-data-table__header-cell, .mdc-data-table__cell {
  text-align: start;
}

.image-icon-external-links {
  /*
  width: 5%;
  height: auto;
  */
  object-fit: contain;
}

.create-card {
  margin: 1rem 0;
}

.toolbar {
  background-color: whitesmoke;
  color: #3F51B5;
}
