<!--
<div class="row align-items-center">
  <div class="col-6">
    <div class="d-flex justify-content-center">
      <img
        [src]="izmirAskfLogoPath"
        mat-card-sm-image
        alt="İZMİR ASKF"
        routerLink="/"
      >
    </div>
  </div>

  <div class="col-6">
    <div class="d-flex justify-content-center">
      <img
        [src]="tffizmirLogoPath"
        mat-card-sm-image
        alt="TFF İZMİR İL TEMSİLCİLİĞİ"
        routerLink="/"
      >
    </div>
  </div>
</div>
-->

<nav class="navbar navbar-expand-xl toolbar">
  <div class="d-flex justify-content-center">
    <img
      [src]="'assets/izmiraskf-logo.png'"
      mat-card-sm-image
      alt="İZMİR ASKF"
      routerLink="/"
    />
  </div>
  <div class="d-flex justify-content-center">
    <img
      [src]="'assets/tff-logo.png'"
      mat-card-sm-image
      alt="TFF İZMİR İL TEMSİLCİLİĞİ"
      routerLink="/"
    />
  </div>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarAdminPanel"
      aria-controls="navbarAdminPanel"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon class="navbar-toggler-icon">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarAdminPanel">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-link"
            aria-current="page"
            routerLink="/admin/anasayfa"
          >
            ANA SAYFA
          </button>
        </li>
        <!-- Content Management -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            İÇERİK YÖNETİMİ
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/izmiraskf"
              >
                İzmir ASKF
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/izmiraskf/yonetim-kurulu"
              >
                Yönetim Kurulu
              </button>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/izmirtffiltemsilciligi"
              >
                TFF İl Temsilciliği
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/izmirtffiltemsilciligi/tffiltemsilciligi"
              >
                Yönetim Kurulu
              </button>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/haberler"
              >
                Haberler
              </button>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/disbaglantilar"
              >
                Dış Bağlantılar
              </button>
            </li>
          </ul>
        </li>
        <!-- Documents -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            DOKÜMANLAR
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/dokumanlar/amatorligstatuleri"
              >
                Amatör Lig Statüleri
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/dokumanlar/talimatlar"
              >
                Talimatlar
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/dokumanlar/lisansformlari"
              >
                Lisans Formları
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/dokumanlar/belgeler"
              >
                Belgeler
              </button>
            </li>
          </ul>
        </li>
        <!-- Info Center -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            BİLGİ BANKASI
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/takimlar"
              >
                Takımlar
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/sahalar"
              >
                Sahalar
              </button>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/komite-dosyalari/disiplinkurulu"
              >
                Disiplin Kurulu Dosyaları
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/komite-kararlari/disiplinkurulu"
              >
                Disiplin Kurulu Kararları
              </button>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/komite-dosyalari/iltertipkomitesi"
              >
                İl Tertip Komitesi Dosyaları
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/komite-kararlari/iltertipkomitesi"
              >
                İl Tertip Komitesi Kararları
              </button>
            </li>
          </ul>
        </li>
        <!-- Data Management -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="primary nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            VERİ YÖNETİMİ
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/sezonlar"
              >
                Sezonlar
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/ligler"
              >
                Ligler
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/gruplar"
              >
                Gruplar
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/gruplar/takimlar"
              >
                Grup-Takım Eşleşmeleri
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/gruplar/ihrac-ve-cekilme"
              >
                İhraç ve Çekilme
              </button>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/fikstur"
              >
                Fikstür
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/skor-tablosu"
              >
                Skor Tablosu
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/puan-tablosu"
              >
                Puan Durumu
              </button>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/haftalik-bulten"
              >
                Haftalık Bülten
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/haftalik-musabaka-listesi"
              >
                Haftalık Müsabaka Listesi
              </button>
            </li>
          </ul>
        </li>
        <!-- Settings -->
        <li class="nav-item dropdown">
          <button
            mat-button
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ARAÇLAR
          </button>
          <ul class="dropdown-menu">
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/kullanicilar"
              >
                Kullanıcılar
              </button>
            </li>
            <li>
              <button
                mat-button
                class="primary dropdown-item"
                routerLink="admin/dokumanlar/aktarmadosyalari"
              >
                Aktarma Dosyaları
              </button>
            </li>
          </ul>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <button
            mat-button
            class="primary nav-item"
            aria-current="page"
            routerLink="admin/kullanici-guvenli-cikis"
          >
            GÜVENLİ ÇIKIŞ
          </button>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center" *ngIf="true">
      <mat-card-subtitle style="color: whitesmoke">{{
        authenticatedUser.fullName || authenticatedUser.userName
      }}</mat-card-subtitle>
      <img
        mat-card-avatar
        [src]="
          authenticatedUser.imagePath ||
          'assets/no-team-logo.png'
        "
        [alt]="authenticatedUser.userName"
      />
    </div>
  </div>
</nav>
