.mat-mdc-card-sm-image {
  height: auto;
  width: 3rem;
}

.dropdown-item {
  justify-content: start;
}

.dropdown-item:hover {
  color: #00378F !important;
}

.dropdown-menu {
  background-color: #00378F;
}

.navbar-nav {
  margin: auto;
}

.navbar-toggler-icon {
  color: white;
}

.mat-mdc-button {
  color: white !important;
  font-weight: 500;
  font-size: small;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-mdc-card-avatar {
  background-color: white;
  margin: 0 0.5rem;
  object-fit: contain;
}

.dropdown-divider {
  border-top: 1px solid white;
}
