.nav-item .nav-link {
  color: white;
}

.mat-mdc-card-avatar {
  margin: 0 0.5rem;
  object-fit: contain;
}

mat-card-subtitle {
  color: whitesmoke;
}

.navbar-toggler {
  color: #3F51B5;
  background-color: whitesmoke;
}
